<!DOCTYPE html>
<html lang="en">

<head>
    <% include common/head %>
</head>


<body>
    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <% include common/top-header %>
            <% include common/navbar %>
    </header>
    <!-- ##### Header Area End ##### -->

    <% include common/hero-area %>

        <!-- ##### Contact Form Area Start ##### -->
        <div class="contact-area section-padding-0-80">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="contact-title">
                            <h2>Contact us</h2>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="contact-form-area">
                            <form  action="mailto:newswebttcn@yopmail.com" method="post" enctype="text/plain">
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <input type="text" class="form-control" id="name" placeholder="Name">
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <input type="email" class="form-control" id="email" placeholder="E-mail">
                                    </div>
                                    <div class="col-12">
                                        <input type="text" class="form-control" id="subject" placeholder="Subject">
                                    </div>
                                    <div class="col-12">
                                        <textarea name="message" class="form-control" id="message" cols="30" rows="10" placeholder="Message"></textarea>
                                    </div>
                                    <div class="col-12 text-center">
                                        <button class="btn newspaper-btn mt-30 w-100" type="submit">Send Message</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="col-12 col-lg-4">
                        <!-- Single Contact Information -->
                        <div class="single-contact-information mb-30">
                            <h6>Address:</h6>
                            <p>54 Nguyen Luong Bang
                                <br>Lien Chieu, Da Nang, Viet Nam</p>
                        </div>
                        <!-- Single Contact Information -->
                        <div class="single-contact-information mb-30">
                            <h6>Phone:</h6>
                            <p>+84 0981 234 567
                                <br>+84 0913 432 234</p>
                        </div>
                        <!-- Single Contact Information -->
                        <div class="single-contact-information mb-30">
                            <h6>Email:</h6>
                            <p>newswebttcn@yopmail.com</p>
                        </div>
                    </div>
                </div>

                <!-- Google Maps -->
                <div class="map-area">
                    <iframe 
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.835919348104!2d108.14798795088309!3d16.074002143523945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314218d68dff9545%3A0x714561e9f3a7292c!2sDa%20Nang%20University%20of%20Technology!5e0!3m2!1sen!2s!4v1595755862761!5m2!1sen!2s" 
                        width="100%" 
                        height="450" 
                        frameborder="0" 
                        style="border:0;" 
                        allowfullscreen="" 
                        aria-hidden="false" 
                        tabindex="0">
                    </iframe>
                </div>

            </div>
        </div>
        <!-- ##### Contact Form Area End ##### -->

        <% include common/footer %>

        <% include common/scripts %>
        <!-- Google Maps -->
        <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-ejft2LRIi0D5CnUbky718OFGTNsM-8Y"></script>
        <script src="/public/client/js/google-map/map-active.js"></script> -->
</body>

</html>