<%- layout('admin/layouts/register') %>
<div class="register-box-body">
  <h3 class="login-box-msg text-info">Đăng ký tài khoản</h3>
  <p class="text-danger text-center"><%= typeof termsAgree !== 'undefined' ? termsAgree : ''%></p>

  <form action="/admin/register" method="post">
    <div class="form-group has-feedback">
      <input type="text" class="form-control" placeholder="Full Name" name="fullname" value="<%= typeof fullname !== 'undefined' ? fullname : ''%>">
      <span class="glyphicon glyphicon-user form-control-feedback"></span>
    </div>
    <p class="text-danger text-center"><%= typeof errFullname !== 'undefined' ? errFullname : ''%></p>
    <div class="form-group has-feedback">
      <input type="text" class="form-control" placeholder="Username" name="username" value="<%= typeof username !== 'undefined' ? username : ''%>">
      <span class="glyphicon glyphicon-user form-control-feedback"></span>
    </div>
    <p class="text-danger text-center"><%= typeof errUsername !== 'undefined' ? errUsername : ''%></p>
    <div class="form-group has-feedback">
      <input type="email" class="form-control" placeholder="Email" name="email" value="<%= typeof email !== 'undefined' ? email : ''%>">
      <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </div>
    <p class="text-danger text-center"><%= typeof errEmail !== 'undefined' ? errEmail : ''%></p>
    <div class="form-group has-feedback">
      <input type="text" class="form-control" placeholder="Phone Number" name="phoneNumber" value="<%= typeof phoneNumber !== 'undefined' ? phoneNumber : ''%>">
      <span class="glyphicon glyphicon-phone form-control-feedback"></span>
    </div>
    <p class="text-danger text-center"><%= typeof errPhoneNumber!== 'undefined' ? errPhoneNumber : ''%></p>
    <div class="form-group has-feedback">
      <input type="password" class="form-control" placeholder="Password" name="password">
      <span class="glyphicon glyphicon-lock form-control-feedback"></span>
    </div>
    <p class="text-danger text-center"><%= typeof errPassword !== 'undefined' ? errPassword : ''%></p>
    <div class="form-group has-feedback">
      <input type="password" class="form-control" placeholder="Retype password" name="passwordConfirm">
      <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
    </div>
    <p class="text-danger text-center"><%= typeof errPasswordConfirm !== 'undefined' ? errPasswordConfirm : ''%></p>

    <div class="row">
      <div class="col-xs-8">
        <div class="checkbox icheck">
          <label>
            <input type="checkbox" name="termsAgree"> I agree to the
            <a href="#">terms</a>
          </label>
        </div>
      </div>
      <!-- /.col -->
      <div class="col-xs-4">
        <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
      </div>
      <!-- /.col -->
    </div>
  </form>

  <div class="social-auth-links text-center">
    <p>- OR -</p>
    <a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
      <i class="fab fa-facebook-f"></i> Sign up using Facebook
    </a>
    <a href="#" class="btn btn-block btn-social btn-google btn-flat">
      <i class="fab fa-google-plus-g"></i> Sign up using Google+
    </a>
  </div>

  <a href="/admin/login" class="text-center">I already have a membership</a>
</div>