<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error</title>
    <base href="/public/client/">
    <link rel="stylesheet" href="error500.css">
</head>
<body>
    <div class="titanic"></div>

    <h1 data-txt="5⬡⬡" aria-label="Internal Server Error">5<span data-overlay="🤦‍♀️">⬡</span><span data-overlay="🤦‍♂️">⬡</span></h1>
    <p>It's broken, but it's not your fault.</p>
</body>
</html>