<% layout ('admin/layouts/main') -%>
<% block('stylesheets').append(`<link rel="stylesheet" href="/public/admin/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css">`) %>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Tài khoản đang hoạt động</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <% if (typeof flash !== 'undefined'){ %>
                    <% for(let prop in flash) { %>
                    <div class="alert text-center alert-<%= prop %>">
                        <% flash[prop].forEach((err) => { %>
                        <%= err %>
                        <% })%>
                    </div>
                    <% } %>
                    <% } %>
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Họ tên</th>
                                <th>Tên đăng nhập</th>
                                <th>Email</th>
                                <th>SĐT</th>
                                <th>Vai trò</th>
                                <th>Ngày đăng kí</th>
                                <th>Công cụ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% users.forEach((e,index) => {%>
                            <% if(e.role === 'admin'){ %>
                            <tr class="bg-success" style="font-size: 16px">
                                <td>
                                    <%= index+1 %>
                                </td>
                                <td>
                                    <%= e.fullname %>
                                </td>
                                <td>
                                    <%= e.username %>
                                </td>
                                <td>
                                    <%= e.email %>
                                </td>
                                <td>
                                    <%= e.phoneNumber %>
                                </td>
                                <td>
                                    <p class="text-center">Quản trị viên</p>
                                </td>
                                <td>
                                    <%= getTimeDetail(e.createdAt) %>
                                </td>
                                <td>

                                </td>
                            </tr>
                            <% } else { %>
                            <tr class="<%= e.role === 'poster' ? 'bg-info' : 'bg-warning'%>">
                                <td>
                                    <%= index+1 %>
                                </td>
                                <td>
                                    <%= e.fullname %>
                                </td>
                                <td>
                                    <%= e.username %>
                                </td>
                                <td>
                                    <%= e.email %>
                                </td>
                                <td>
                                    <%= e.phoneNumber %>
                                </td>
                                <td>
                                    <form action="/admin/user/edit/<%= e._id %>" method="post">
                                        <div class="box-body">
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <select class="form-control" name="role">
                                                        <% roleList.forEach((role) => { %>
                                                        <option value="<%= role.name %>" <% if (e.role===role.name) { %>
                                                            selected
                                                            <% } %>>
                                                            <%= role.displayName %>
                                                        </option>
                                                        <% }) %>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                </td>
                                <td>
                                    <%= getTimeDetail(e.createdAt) %>
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-success btn-xs saveRole">
                                        <i class="fa fa-save"></i> Lưu </button>
                                    <a href="/admin/user/suspend/<%= e._id %>" class="btn btn-warning btn-xs">
                                        <i class="fa fa-ban"></i> Dừng hoạt động </a>
                                    <button data-id="<%= e._id %>" type="button" class="btn btn-danger btn-xs deleteUser">
                                        <i class="fa fa-trash-o"></i> Xoá tài khoản </button>
                                </td>
                                </form>
                            </tr>
                            <% } %>

                            <% }) %>
                        </tbody>
                    </table>
                    <div class="row card-footer clearfix">
                        <%- pagination %>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<% block('scripts').append(`
<script src="/public/admin/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/public/admin/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

<script>
  $(function () {
    $('#example1').DataTable()
    $('#example2').DataTable({
      'paging': false,
      'lengthChange': false,
      'searching': false,
      'ordering': true,
      'info': true,
      'autoWidth': false
    })
  })
</script>

`) -%>