<% layout('admin/layouts/main') -%>
<div class="content">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Category <small>Add</small></h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" action="/admin/category/add" method="post">
                <div class="box-body">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Tên chuyên mục</label>
                        <div class="col-sm-10">
                            <input type="text" id="name" class="form-control" placeholder="Nhập tên chuyên mục" name="name"
                                value="<%= typeof name !== 'undefined' ? name : '' %>">
                            <p class="text-danger" style="position: relative;top:10px;">
                                <%= typeof errName !== 'undefined' ? errName : ''%>
                            </p>
                        </div>


                    </div>
                    <input type="hidden" class="form-control" id="author" name="author" value="<%= cUser.id %>">
                    <div class="form-group my-0">
                        <label for="grandparentId" class="col-sm-2 control-label">Chuyên mục gốc</label>
                        <div class="col-sm-10 my-0">
                            <select class="form-control" name="grandparentId" id="level1">
                                <option value="0">Không</option>
                                <% grandparentCategoryList.forEach(e => { %>
                                <option value="<%= e._id %>" <% if (typeof(grandparentId) !=='undefined' ){ %>
                                    <% if(grandparentId.toString() === e._id.toString()){ %>
                                    selected
                                    <% } %>
                                    <% } %> >
                                    <%= e.name %>
                                </option>
                                <% }) %>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label id="parentId" style="display: none" for="parentId" class="col-sm-2 control-label">Danh
                            mục mẹ</label>

                        <div class="col-sm-10">
                            <select class="form-control" style="display: none" name="parentId" id="level2">
                                <option value="0">Không</option>
                                <% if (typeof(parentCategoryList) !== 'undefined') { %>
                                <% parentCategoryList.forEach(e => { %>
                                <option value="<%= e._id %>" <% if(parentId.toString()===e._id.toString()){ %>
                                    selected
                                    <% } %> >
                                    <%= e.name %>
                                </option>
                                <% }) %>
                                <% } %>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-info pull">Thêm chuyên mục</button>
                    <a href="javascript:history.back()" class="btn btn-danger">Hủy bỏ</a>
                </div>
                <!-- /.box-footer -->
            </form>
        </div>
    </div>
</div>
<% block('scripts').append(`
<script>
    $(document).ready(function () {
        if($('#level1').val() !== '0'){
            $('#parentId').show();
            $('#level2').show();
        }
        $('#level1').change(function () {
            $('#level2 option[value!="0"] ').remove()
            let id = $(this).val();
            if (id == "0") {
                $('#parentId').hide();
                $('#level2').hide();
            } else {
                $('#parentId').show();
                $('#level2').show();
                $.ajax({
                    type: "post",
                    url: "/admin/category/postAjax",
                    data: {
                        parentId: id
                    },
                    dataType: "json",
                    success: function (response) {
                        response.forEach(element => {
                            $('#level2').append('<option value="' + element._id +
                                '">' + element.name + '</option>');
                        });
                    }
                });
            }
        })
    });
</script>
`) -%>