<!-- Top Header Area -->
<div class="top-header-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="top-header-content d-flex align-items-center justify-content-between">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="/"><img src="img/core-img/logo.png" alt=""></a>
                    </div>

                    <!-- Login Search Area -->
                    <!-- <div class="login-search-area d-flex align-items-center">
                        <div class="login d-flex">
                            <a href="#">Đăng nhập</a>
                            <a href="#">Đăng ký</a>
                        </div>
                        <div class="search-form">
                            <form action="#" method="post">
                                <input type="search" name="search" class="form-control" placeholder="Tìm kiếm">
                                <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </form>
                        </div>
                    </div> -->
                   
                </div>
            </div>
        </div>
    </div>
</div>