<% layout('admin/layouts/main') -%>
<% block('stylesheets').append(`<link rel="stylesheet" href="/public/admin/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css">`) %>

<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Bảng tag</h3>
      </div>


      <!-- /.box-header -->
      <div class="box-body">
        <% if (typeof flash !== 'undefined'){ %>
        <% for(let prop in flash) { %>
        <div class="alert text-center alert-<%= prop %>">
          <% flash[prop].forEach((err) => { %>
          <%= err %>
          <% })%>
        </div>
        <% } %>
        <% } %>
        <table id="example2" class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>STT</th>
              <th>Tag</th>
              <th>Người thêm</th>
              <th>Ngày tạo</th>
              <th>Công cụ</th>
            </tr>
          </thead>
          <tbody>
            <% tags.forEach((e,index)=>{%>

            <tr>
              <td>
                <%= index+1 %>
              </td>
              <td>
                <%= e.name %>
              </td>
              <td>
                <%= e.author !=null ?  e.author.fullname: '' %>
              </td>
              <td>
                <%= getTimeDetail(e.createdAt)%>
              </td>
              <td>
                <%if (cUser.role === 'admin' || cUser.role === 'manager' || cUser.id === e.author.id) { %>
                  <a href="/admin/tag/edit/<%= e._id %>" class="btn btn-info btn-xs">
                    <i class="fa fa-pencil"></i> Sửa </a>
                  <button data-id="<%= e._id %>" type="button" class="btn btn-danger btn-xs deleteTag">
                    <i class="fa fa-trash-o"></i> Xoá </button>
                <% } %>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
        <br>
        <div class="row card-footer clearfix">
          <%- pagination %>
        </div>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->

  </div>
  <!-- /.col -->
</div>

<% block('scripts').append(`
<script src="/public/admin/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/public/admin/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

<script>
  $(function () {
    $('#example1').DataTable()
    $('#example2').DataTable({
      'paging': false,
      'lengthChange': false,
      'searching': false,
      'ordering': true,
      'info': true,
      'autoWidth': false
    })
  })
</script>
`) -%>