<% layout('admin/layouts/main') -%>
<!-- Main content -->
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Bảng tag đã xoá</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table id="example2" class="table table-bordered table-hover">
          <% if (typeof flash !== 'undefined'){ %>
          <% for(let prop in flash) { %>
          <div class="alert text-center alert-<%= prop %>">
            <% flash[prop].forEach((err) => { %>
            <%= err %>
            <% })%>
          </div>
          <% } %>
          <% } %>
          <thead>
            <tr>
              <th>STT</th>
              <th>Tag</th>
              <th>Người thêm</th>
              <th>Ngày tạo</th>
              <th>Ngày xoá</th>
              <th>Công cụ</th>
            </tr>
          </thead>
          <tbody>
            <% tags.forEach((e,index)=>{%>

            <tr>
              <td>
                <%= index+1 %>
              </td>
              <td>
                <%= e.name %>
              </td>
              <td>
                <%= e.author.fullname %>
              </td>
              <td>
                <%= getTimeDetail(e.createdAt)%>
              </td>
              <td>
                <%= getTimeDetail(e.deletedAt)%>
              </td>
              <td>
                <%if (cUser.role === 'admin' || cUser.role === 'manager' || cUser.id === e.author.id) { %>
                  <a href="/admin/tag/bin/restore/<%= e._id %>" class="btn btn-success btn-xs">
                    <i class="fa fa-recycle"></i> Khôi phục </a>
                  <button data-id="<%= e._id %>" type="button" class="btn btn-danger btn-xs completedDeleteTag">
                    <i class="fa fa-trash-o"></i> Xoá hoàn toàn </button>
                <% } %>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
        <br>
        <div class="row card-footer clearfix">
          <%- pagination %>
        </div>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->



<% block('scripts').append(`
<script src="/public/admin/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/public/admin/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

<script>
  $(function () {
    $('#example1').DataTable()
    $('#example2').DataTable({
      'paging': false,
      'lengthChange': false,
      'searching': false,
      'ordering': true,
      'info': true,
      'autoWidth': false
    })
  })
</script>
`) -%>