<% layout('admin/layouts/main') -%>

<section class="content-header">
  <h1>
    Lỗi 403
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Examples</a></li>
    <li class="active">403 error</li>
  </ol>
</section>

<section class="content">

  <div class="error-page">
    <h2 class="headline text-red">403</h2>

    <div class="error-content">
      <h3><i class="fa fa-warning text-red"></i> Quyền truy cập bị từ chối</h3>

      <p>
        Bạn không có quyền truy cập vào trang này. Vui lòng liên hệ quản trị viên để được cấp quyền. <a href="javascript:history.back()">Quay lại trang trước</a>
      </p>

      <form class="search-form">
        <div class="input-group">
          <input type="text" name="search" class="form-control" placeholder="Search">

          <div class="input-group-btn">
            <button type="submit" name="submit" class="btn btn-danger btn-flat"><i class="fa fa-search"></i>
            </button>
          </div>
        </div>
        <!-- /.input-group -->
      </form>
    </div>
  </div>
  <!-- /.error-page -->

</section>