<% layout('admin/layouts/main') -%>

<section class="content-header">
  <h1>
    Lỗi 404
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Examples</a></li>
    <li class="active">404 error</li>
  </ol>
</section>

<section class="content">
  <div class="error-page">
    <h2 class="headline text-yellow"> 404</h2>

    <div class="error-content">
      <h3><i class="fa fa-warning text-yellow"></i> Không tìm thấy nội dung</h3>

      <p>
        Chúng tôi không tìm thấy nội dung bạn yêu cầu
        Bạn có thể <a href="javascript:history.back()">quay lại trang trước</a> hoặc tìm kiếm nội dung ở hộp thoại dưới đây
        form.
      </p>

      <form class="search-form">
        <div class="input-group">
          <input type="text" name="search" class="form-control" placeholder="Search">

          <div class="input-group-btn">
            <button type="submit" name="submit" class="btn btn-warning btn-flat"><i class="fa fa-search"></i>
            </button>
          </div>
        </div>
        <!-- /.input-group -->
      </form>
    </div>
    <!-- /.error-content -->
  </div>
  <!-- /.error-page -->
</section>