<% layout('admin/layouts/main') -%>

<section class="content-header">
  <h1>
    Lỗi 500
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Examples</a></li>
    <li class="active">500 error</li>
  </ol>
</section>

<section class="content">

  <div class="error-page">
    <h2 class="headline text-red">500</h2>

    <div class="error-content">
      <h3><i class="fa fa-warning text-red"></i> Đã xảy ra lỗi không xác thực</h3>

      <p>
        Chúng tôi đang cố gắng khắc phục lỗi và khôi phục hệ thống.
        Bạn có thể <a href="javascript:history.back()">quay lại trang trước</a> hoặc tìm kiếm cách khắc phục dưới đây
      </p>

      <form class="search-form">
        <div class="input-group">
          <input type="text" name="search" class="form-control" placeholder="Search">

          <div class="input-group-btn">
            <button type="submit" name="submit" class="btn btn-danger btn-flat"><i class="fa fa-search"></i>
            </button>
          </div>
        </div>
        <!-- /.input-group -->
      </form>
    </div>
  </div>
  <!-- /.error-page -->

</section>